*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(44, 29, 29);
    padding: 20px;
    color: white;
}
.cards{
    margin: 4px;
}
.div h2{
    padding-top: 30px;
}
h4{
    padding-top: 30px;
}

.footer{
    position: absolute;
    bottom: 53px;
    left: 665px;
}